<%- include("partials/header2", {title: "Club Members"}) %>

<body>
  <header class="site-header">
    <div class="header-bar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-10 col-lg-4">
            <h1 class="site-branding flex">
              <a href="/club-profile">Event Manager</a>
            </h1>
          </div>

          <div class="col-2 col-lg-8">
            <nav class="all-header">
              <a class="boton" href="/club-profile">PROFILE</a>
              <a class="boton" href="/club-members">MEMBERS</a>
              <a class="boton" href="/logout">LOGOUT</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container emp-profile">
    <% foundClub.forEach(club => { %>
    <form action="/edit-club-profile" method="get">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img src="images/logos/<%= club.logo %>" alt="logo" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h2><%= club.cname %></h2>
            <h4><%= club.email %></h4>
            <h4><%= club.phno %></h4>
          </div>
        </div>
        <div class="col-md-2">
          <input type="submit" class="profile-edit-btn" value="Edit Profile" />
        </div>
      </div>
    </form>
    <% }); %>
        <table id="members">
          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Registration Number</th>
            <th>E-mail</th>
            <th>Phone Number</th>
            <th>Designation</th>
            <th>Domain</th>
            <th>Remove</th>
          </tr>
          <% i=1 %><% foundMembers.forEach(member => { %>
          <tr>
            <td><%= i %></td>
            <td><%= member.fname %> <%= member.mname %> <%=member.lname %></td>
            <td><%= member.regno %></td>
            <td><%= member.email %></td>
            <td><%= member.phno %></td>
            <td><%= member.designation %></td>
            <td><%= member.domain %></td>
            <td><form action="/delete-member" method="post">
              <input type="text" name="regno" value="<%= member.regno %>" hidden/>
              <input type="text" name="cname" value="<%= member.cname %>" hidden/>
              <button type="submit" class="btn btn-delete">Remove</button>
            </form></td>
          </tr>
          <% i=i+1 %> <% }); %>
        </table>
        <a href="/add-club-member">
          <div class="btn btn-primary-members">Add Member</div>
        </a>
        <br>
  </div>
<%- include("partials/footer2") %>
