<%- include("partials/header2", {title: "Registered Events"}) %>

<body>
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="/club-index">Event Manager</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="all-header">
                            <a class="boton" href="/club-profile">PROFILE</a>
                            <a class="boton" href="/login">LOGOUT</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>    

<div class="container emp-profile">
    <% foundEvents.forEach(events => { %>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="images/uploaded_image/<%= events.poster %>" alt="logo"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h2>
                                        <%= events.ename %>
                                    </h2>
                                    <h4>
                                        <%= events.venue %>
                                    </h4>
                                    <h4><%= events.remarks %></h4>
                            
                        </div>
                    </div>
                </div>
            <% }); %>          
        </div>

        <%- include("partials/footer2") %>