<%- include("partials/header2", {title: "Registered Events"}) %> <% if(failure)
{ %>
<div class="alert alert-danger" role="alert"><%= msg %></div>
<% } %>

<body>
  <header class="site-header">
    <div class="header-bar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-10 col-lg-4">
            <h1 class="site-branding flex">
              <a href="/club-profile">Event Manager</a>
            </h1>
          </div>

          <div class="col-2 col-lg-8">
            <nav class="all-header">
              <a class="boton" href="/club-profile">PROFILE</a>
              <a class="boton" href="/club-members">MEMBERS</a>
              <a class="boton" href="/logout">LOGOUT</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="event-reg-form">
    <div class="main-content">
      <div class="container">
        <div class="entry-header">
          <div class="entry-title">
            <div class="row">
              <div class="col-md-6">
                <h2>Update event</h2>
                <h6 style="color: red">* required</h6>
              </div>
              <div style="text-align: right" class="col-md-6">
                <a
                  href="/view-event-participant?eventid=<%= specEvent[0].ID %>"
                >
                  <div class="btn btn-primary">PARTICIPANTS</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="event-reg">
      <% specEvent.forEach(events => { %>

      <form
        action="/specific-event/?eventid=<%= events.ID %>"
        method="post"
        encType="multipart/form-data"
      >
        <div class="form-group">
          <label for="text-box">Event Name <a style="color: red">*</a></label>
          <input
            type="text"
            value="<%= events.ename %>"
            name="ename"
            class="form-control"
            id="ename"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="text-box">Venue<a style="color: red">*</a></label>
          <input
            type="text"
            value="<%= events.venue %>"
            name="venue"
            class="form-control"
            id="venue"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <div class="branch">
            <div class="branch1">
              <label for="text-box">Date<a style="color: red">*</a></label>
              <input
                type="date"
                value="<%= events.dat %>"
                name="edate"
                class="form-control"
                id="edate"
                autocomplete="off"
              />
            </div>

            <div class="branch1">
              <label for="text-box"
                >Number of Participants<a style="color: red">*</a></label
              >
              <input
                type="text"
                value="<%= events.max_no_of_participant %>"
                name="max_no_of_participant"
                class="form-control"
                id="text-box"
                autocomplete="off"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="branch">
            <div class="branch1">
              <label for="text-box">Branch</label><br />
              <% if(BCE){ %>
              <input
                type="checkbox"
                id="branch1"
                name="branch"
                value="BCE"
                checked
              />
              <label for="branch1">Computer</label><br />
              <% }else{ %>
              <input type="checkbox" id="branch1" name="branch" value="BCE" />
              <label for="branch1">Computer</label><br />
              <% } %> <% if(BCL){ %>
              <input
                type="checkbox"
                id="branch2"
                name="branch"
                value="BCL"
                checked
              />
              <label for="branch2">Civil</label><br />
              <% }else{ %>
              <input type="checkbox" id="branch2" name="branch" value="BCL" />
              <label for="branch2">Civil</label><br />
              <% } %> <% if(BEE){ %>
              <input
                type="checkbox"
                id="branch3"
                name="branch"
                value="BEE"
                checked
              />
              <label for="branch3">Electrical</label><br />
              <% }else{ %>
              <input type="checkbox" id="branch3" name="branch" value="BEE" />
              <label for="branch3">Electrical</label><br />
              <% } %> <% if(BME){ %>
              <input
                type="checkbox"
                id="branch4"
                name="branch"
                value="BME"
                checked
              />
              <label for="branch4">Mechanical</label><br />
              <% }else{ %>
              <input type="checkbox" id="branch4" name="branch" value="BME" />
              <label for="branch4">Mechanical</label><br />
              <% } %>
            </div>

            <div class="branch1">
              <label for="text-box">Year</label><br />
              <% if(first){ %>
              <input
                type="checkbox"
                id="year1"
                name="year"
                value="20"
                checked
              />
              <label for="year1">First</label><br />
              <% }else{ %>
              <input type="checkbox" id="year1" name="year" value="20" />
              <label for="year1">First</label><br />
              <% } %> <% if(second){ %>
              <input
                type="checkbox"
                id="year2"
                name="year"
                value="19"
                checked
              />
              <label for="year2">Second</label><br />
              <% }else{ %>
              <input type="checkbox" id="year2" name="year" value="19" />
              <label for="year2">Second</label><br />
              <% } %> <% if(third){ %>
              <input
                type="checkbox"
                id="year3"
                name="year"
                value="18"
                checked
              />
              <label for="year3">Third</label><br />
              <% }else{ %>
              <input type="checkbox" id="year3" name="year" value="18" />
              <label for="year3">Third</label><br />
              <% } %> <% if(fourth){ %>
              <input
                type="checkbox"
                id="year4"
                name="year"
                value="17"
                checked
              />
              <label for="year4">Final</label><br />
              <% }else{ %>
              <input type="checkbox" id="year4" name="year" value="17" />
              <label for="year4">Final</label><br />
              <% } %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="text-box">Event Poster<a style="color: red">*</a></label>
          <div class="poster-img">
            <img
              id="output"
              src="images/uploaded_image/<%= events.poster %>"
              alt="poster"
            />
            <input
              type="file"
              name="poster"
              accept="image/*"
              onchange="loadFile(event)"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="big-text-box"
            >Event Description<a style="color: red">*</a></label
          >
          <textarea
            class="form-control"
            name="remarks"
            id="remarks"
            rows="5"
            autocomplete="off"
          >
<%= events.remarks %></textarea
          >
        </div>
        <div class="row">
          <div class="col-md-7">
            <a href="/registered-event">
              <div class="btn btn-primary">CANCEL</div>
            </a>
          </div>
          <div class="col-md-5">
            <a href="/delete-event?eventid=<%= events.ID %>">
              <div class="btn btn-delete">DELETE EVENT</div>
            </a>
            <button type="submit" id="register" class="btn btn-primary">
              UPDATE
            </button>
          </div>
        </div>
      </form>
    </div>
    <% }); %>
  </div>

  <script>
    var loadFile = function (event) {
      var output = document.getElementById("output");
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function () {
        URL.revokeObjectURL(output.src);
      };
    };
  </script>

  <%- include("partials/footer2") %>
</body>
