<%- include("partials/header2", {title: "Registered Events"}) %> 
<% if(failure){ %>
    <div class="alert alert-danger" role="alert"><%= msg %></div>
<% } %>

<body>
  <header class="site-header">
    <div class="header-bar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-10 col-lg-4">
            <h1 class="site-branding flex">
              <a href="/club-profile">Event Manager</a>
            </h1>
          </div>

          <div class="col-2 col-lg-8">
            <nav class="all-header">
              <a class="boton" href="/club-profile">PROFILE</a>
              <a class="boton" href="/club-members">MEMBERS</a>
              <a class="boton" href="/logout">LOGOUT</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="event-reg-form">
    <div class="main-content">
      <div class="container">
        <div class="entry-header">
          <div class="entry-title">
            <div class="row">
              <div class="col-md-6">
                <h2>View Event</h2>
              </div>
              <div style="text-align: right" class="col-md-6">
                <a href="/view-event-participant">
                  <div class="btn btn-primary">PARTICIPANTS</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="event-reg">
      <% specEvent.forEach(events => { %>
      <div class="form-group">
        <label for="text-box">Event Name </label>
        <input
          type="text"
          value="<%= events.ename %>"
          name="ename"
          class="form-control"
          id="ename"
          autocomplete="off"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="text-box">Venue</label>
        <input
          type="text"
          value="<%= events.venue %>"
          name="venue"
          class="form-control"
          id="venue"
          autocomplete="off"
          disabled
        />
      </div>
      <div class="form-group">
        <div class="branch">
          <div class="branch1">
            <label for="text-box">Date</label>
            <input
              type="date"
              value="<%= events.dat %>"
              name="edate"
              class="form-control"
              id="edate"
              autocomplete="off"
              disabled
            />
          </div>

          <div class="branch1">
            <label for="text-box">Number of Participants</label>
            <input
              type="text"
              value="<%= events.total_participant %>"
              name="max_no_of_participant"
              class="form-control"
              id="text-box"
              autocomplete="off"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="text-box">Event Poster</label>
        <div class="poster-img">
          <img
            id="output"
            src="images/uploaded_image/<%= events.poster %>"
            alt="poster"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="big-text-box">Event Description</label>
        <textarea
          class="form-control"
          name="remarks"
          id="remarks"
          rows="5"
          autocomplete="off"
          disabled
        >
        <%= events.remarks %></textarea>
      </div>

      <div class="row">
        <div class="col-md-9">
          <a href="/past-events">
            <div class="btn btn-primary">BACK</div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="/delete-event">
            <div class="btn btn-delete">DELETE EVENT</div>
          </a>
        </div>
      
    </div>
    <% }); %>
  </div>
<%- include("partials/footer2") %>